*{
    padding: 1px;
    margin: 0;
    
}
body{
      background-color: #325b99;   
}
.nav{
     background-color: #24292e;    
     min-width: auto;
     min-height: 70px;
     display: flex;
     flex-wrap: wrap;
}